@media (max-width: 650px) {
  .navigation {
    height: 120px;
  }
  .nav-menu {
    width: 85%;
  }

  .about-wrap {
    width: 520px;
  }
  .about-title-wrap {
    height: 360px;
    margin-right: 5%;
  }
  .about-title-wrap h2 {
    line-height: 50px;
    font-size: 40px;
  }
  .about-title-wrap p {
    font-size: 25px;
    margin-top: 0;
  }
  .about-buttons-pane {
    flex-wrap: wrap;
    width: 70%;
    height: 150px;
    margin-top: 0;
  }

  .security-section {
    flex-direction: column-reverse;
    height: 900px;
  }
  .security-titles {
    height: 70px;
  }
  .security-left-container {
    width: 100%;
    height: 670px;
  }
  .security-left-row {
    width: 100%;
    height: 370px;
  }
  .swiss-wrap {
    height: 200px;
  }
  .physical-wrap {
    height: 200px;
  }
  .physical-wrap h2 {
    font-size: 30px;
  }
  .physical-wrap p {
    font-size: 14px;
  }
  .anonymous-wrap {
    width: 100%;
    height: 200px;
    margin-top: 20px;
    border-left: none;
  }
  .security-btn {
    padding-top: 7px;
    bottom: 4%;
    left: 17%;
    width: 67%;
  }
  .security-btn:hover {
    bottom: 4%;
    left: 17%;
    width: 67%;
  }

  .mass-media-icons-container {
    width: 100%;
    height: 140px;
  }
  .news-container {
    margin-left: 10px;
  }
  .news-slider {
    margin-right: 10px;
  }
  .news-quote {
    width: 90%;
    font-size: 14px;
  }

  .gradient-container {
    display: none;
  }
  .devices-notice {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 95%;
    height: 340px;
    margin-top: 85px;
    border-top: 1px solid rgb(128, 128, 128);
  }
  .devices-notice h3 {
    font-size: 30px;
    line-height: 30px;
  }
  .devices-btn {
    margin-top: 0;
  }
  .app-store {
    margin-right: 0px;
  }

  .donate-wrap {
    height: 100%;
    margin-top: 0;
  }
  .donate-wrap h3 {
    width: 100%;
    height: 70px;
    font-size: 30px;
    line-height: 30px;
  }
  .donate-wrap p {
    width: 100%;
    height: 60px;
    font-size: 20px;
    line-height: 30px;
  }
  .donate-buttons-wrap {
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    height: 125px;
    margin-top: 0;
  }

  footer {
    top: 270px;
    height: 70px;
    padding-top: 0;
  }
}
